.image-cropper {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /*changed radius from % to px*/
}
#profile-picture {
  height: 400px;
  width: 400px;
}
